RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.gif|\.jpg|\.png|\.swf|\.xml)$ [NC]
RewriteRule ^(.*)$ /index.php?origin=$1 [NC,L,QSA]
Options -Indexes