/* --- Hotel view image on the top bar (image size - width: 928px, height: 154px) --- */
#top {
	background-image: url(../../../../../../c_images/hotelviews/web_view_bg_beta.gif);
}


/* --- Habbo Hotel logo on the left on the top bar (image size - width: 160px, height: 66px) --- */
a#logo-link #viewlogo { 
	background-image: url(../../../../../../c_images/WebLogos/habbo_logo_br.gif);
}  

 
/* --- Enter hotel button on the right of the top bar (image size - width: 105px, height: 106px) --- */
#top-elements #enter-hotel a#enter-hotel-link { 
	background-image: url(../../../../../../c_images/enterbuttons/enter_anim_br.gif);
} 


